<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basis</key>
	<string>G</string>
	<key>map</key>
	<dict>
		<key>G</key>
		<real>1</real>
		<key>centimeter/sec^2</key>
		<real>980.66880000000003</real>
		<key>foot/sec^2</key>
		<real>32.174169999999997</real>
		<key>meter/sec^2</key>
		<real>9.8066499999999994</real>
		<key>mile/hour second</key>
		<real>21.936889999999998</real>
		<key>millimeter/sec^2</key>
		<real>9806.6880000000001</real>
	</dict>
</dict>
</plist>
