<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basis</key>
	<string>Celsius</string>
	<key>map</key>
	<dict>
		<key>Celsius</key>
		<string>1|0</string>
		<key>Fahrenheit</key>
		<string>1.8|-32</string>
		<key>Kelvin</key>
		<string>1|-273.15</string>
		<key>Rankine</key>
		<string>1.8|-491.67</string>
	</dict>
</dict>
</plist>
